h1 {
    color: whitesmoke;
    font-family: Segoe UI;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    padding: 0 20px;
}

#banner {
    align-items: center;
    background-color: black;
    display: flex;
    height: 50px;
}

#webchat {
    height: calc(100% - 50px);
    overflow: hidden;
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: left;
}

div.webchat__stacked-layout__status > span > span {
    color: #DB0011;
}

div.webchat__bubble__content > div > div > p {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
